-if user_signed_in?
	%h5 
		="Toutes les Entreprises"
		#show_all_comp.label.label-default
			%a{href:"/companies/new"}
				="+"
	-@company.reverse.each do |j|
		.row
			.col-md-3	
			.col-md-6
				.panel.panel-success
					.panel-heading
						= j.name
					.panel-body
						.row
							.col-md-5
								.section
									Domaine
							.col-md-6
								.comment 
									= j.field
						.row
							.col-md-5
								.section
									Site internet
							.col-md-6
								.comment
									= j.web_site	
					.panel-footer
						=link_to 'En savoir plus', {:controller => :companies, :action => :show, :id => j.id}
	.center
		= will_paginate(@company, :renderer => WillPaginate::ActionView::LinkRenderer)
-else
	%h5
		="Hello stranger"
		%small
			="veuillez vous connecter ou vous inscrire pour accéder au site !"