-if user_signed_in?
  .panel.panel-warning
    .panel-heading
      %h6
        ="Ensiien : "
        %strong
          =@creator.firts_name+" "+@creator.name
    .panel-body
      .row
        .col-md-3
          .section
            Promotion
        .col-md-9
          .comment
            =@creator.year
        .col-md-3
          .section
            Adresse mail
        .col-md-9
          .comment
            =@creator.email 
        .col-md-3
          .section
            Téléphone
        .col-md-9
          .comment
            =@creator.phone


  .panel.panel-info
    .panel-heading
      %h6
        = "Fiche stage chez :  "
        %strong
          =@internship.comp
        #info_creator.label.label-info
          ="Par "+@creator.firts_name+" "+@creator.name
    .panel-body
      .row
        .col-md-3
          .section
            Technologie
        .col-md-9
          .comment
            =@internship.field
      .row
        .col-md-3
          .section
            Maitre de stage
        .col-md-9
          .comment
            =@internship.supervisor
      .row
        .col-md-3
          .section
            Sujet et commentaire
        .col-md-9
          .comment
            =@internship.commentary
      .row
        .col-md-3
          .section
            Durée
        .col-md-9
          .comment
            =@internship.period
      .row
        .col-md-3
          .section
            Stage
        .col-md-9
          .comment
            =@internship.schoolyear.to_s+"A"
    .panel-footer
      .show_internship
        - if current_user.id==@internship.user_id
          .row
            .col-md-6
              .suppr
                %a
                  =button_to 'Editer', {:controller => :internships, :action => 'edit', :id => @internship.id}, class: "btn btn-primary", :method=> 'get'
            .col-md-6
              .editer
                %a 
                  =button_to "Supprimer", { :method => 'get', :controller => :internships, :action => 'destroy', :id => @internship.id }, :method => :delete, class: "btn btn-danger"
        - else
          %a
            =button_to 'Signaler', {:controller => :internships, :action => 'edit', :id => @internship.id}, class: "btn btn-danger", :method=> 'get' 
-else 
  %p 
    ="Page non disponible hors connection !"


:javascript
$(document).ready(function() {

  $("#info_creator").click(function(event) {
    event.preventDefault();
    $(".panel.panel-warning").toggle("fast"); 
    console.log("ok");
  });

});