-if user_signed_in?


  .panel.panel-info
    .panel-heading
      %h6
        = "Fiche stage chez : "+@internship.comp
        %small
          ="crée par"          
    .panel-body
      %dl.dl-horizontal
        %dt
          Technologies
        %dd
          =@internship.field
        %dt
          Maitre de stage
        %dd
          =@internship.supervisor
        %dt
          Sujet et Commentaire
        %dd
          =@internship.commentary
        %dt
          Durée
        %dd
          =@internship.period
        %dt
          Stage
    .panel-footer
      .show_internship
        - if current_user.id==@internship.user_id
          .row
            .col-md-6
              .suppr
                %a
                  =button_to 'Editer', {:controller => :internships, :action => 'edit', :id => @internship.id}, class: "btn btn-primary", :method=> 'get'
            .col-md-6
              .editer
                %a 
                  =button_to "Supprimer", { :method => 'get', :controller => :internships, :action => 'destroy', :id => @internship.id }, :method => :delete, class: "btn btn-danger"
        - else
          %a
            =button_to 'Signaler', {:controller => :internships, :action => 'edit', :id => @internship.id}, class: "btn btn-danger", :method=> 'get'     

-else 
  %p 
    ="Page non disponible hors connection !"


