-if user_signed_in?


  .panel.panel-info
    .panel-heading
      .container
        .row
          .col-md-10
            %h3
              = "Fiche stage chez : "+@internship.comp
              %small
                ="crée par"
          .col-md-2
            - if current_user.id==@internship.user_id
              %a
                =button_to 'Editer', {:controller => :internships, :action => 'edit', :id => @internship.id}, class: "btn btn-primary", :method=> 'get'
              %a 
                =button_to "Supprimer", { :method => 'get', :controller => :internships, :action => 'destroy', :id => @internship.id }, :method => :delete, class: "btn btn-danger"
            - else
              %a
                =button_to 'Signaler', {:controller => :internships, :action => 'edit', :id => @internship.id}, class: "btn btn-danger", :method=> 'get'              
    .panel-body
      %dl.dl-horizontal
        %dt
          Domaine d'activité
        %dd
          =@internship.field
        %dt
          Maitre de stage
        %dd
          =@internship.supervisor
        %dt
          Commentaire
        %dd
          =@internship.commentary
        %dt
          Période de stage
        %dd
          =@internship.period
        %dt
          Stage

-else 
  %p 
    ="Page non disponible hors connection !"


