-if user_signed_in?
	%h5 
		="Tous les Stages"
		#show_all_int.label.label-default
			%a{href:"/internships/new"}
				="+"
	-@internship.reverse.each do |i|
		.row
			.col-md-3
			.col-md-6
				.panel.panel-info
					.panel-heading	
						= "@ "+i.comp
					.panel-body
						.row
							.col-md-6
								.section
									Technologie
							.col-md-6
								.comment 
									= i.field
						.row
							.col-md-6
								.section
									Maitre de stage
							.col-md-6
								.comment
									= i.supervisor
					.panel-footer
						=link_to 'Voir la fiche', {:controller => :internships, :action => :show, :id => i.id}		
	.center
		= will_paginate(@internship, :renderer => WillPaginate::ActionView::LinkRenderer)
-else
	%h5
		="Hello stranger"
		%small
			="veuillez vous connecter ou vous inscrire pour accéder au site !"