body
{
	background-image: url("background.png");
	background-attachment: fixed;
}


#body {

}

.titre
{
	color: #FFFFFF;
	background-color: #34495e;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #AAAAAA;
	padding-top: 5px; 
	padding-bottom: 10px;
	padding-left: 20px;
	margin-top: 5px;
	margin-bottom: 25px;
}

.small {
	color: #000000 !important;
}

.panel {
	box-shadow: 0px 0px 5px #AAAAAA;
}

.panel-info>.panel-heading {
	color:#FFFFFF;
	background-image: none; 
	background-color: #3498db !important;
}

.panel-info>.panel-body {
	border-top-color:#bce8f1;
}

.panel.panel-warning {
	display: none;
}

.panel-warning>.panel-heading {
	color:#FFFFFF;
	background-image: none;
	background-color: #9b59b6 !important;
}

.label.label-info {
	background-color: #2980b9;
	cursor: pointer;
}

.panel-success>.panel-heading {
	color:#FFFFFF;
	background-image: none; 
	background-color: #1abc9c !important;
}


.sign_in {
	text-align: center;
}

.sign_up {
	text-align: center;
}

.show_internship {
	text-align: center;
}

.suppr {
	text-align: right;
}

.editer {
	text-align: left;
}

h3 small, h5 small {
	color: #95a5a6;
}

.modal-header {
	background-color: #34495e;
	color: #FFFFFF;
}

.modal-footer {
	background-color: #34495e;
}

.btenregistrer {
	text-align: center;
	margin-bottom: 25px;
}

.center {
	text-align:  center;
}

.alert-success {
	color:#FFFFFF;
	background-image: none; 
	background-color: #95a5a6 !important;
}

.button.close {
	color: #FFFFFF;
}

.section {
	text-align: right;
	font-weight: bold;
}

#about > a {
	cursor: pointer;
}

#show_all_int {
	background-color: #2980b9;
	cursor: pointer;
}

#show_all_int:hover {
	background-color: #3498db;
	cursor:pointer;
}

#show_all_comp {
	background-color: #16a085;
	cursor: pointer;
}

#show_all_comp:hover {
	background-color: #1abc9c;
	cursor:pointer;
}

.label.label-default> a {
	color:#FFFFFF !important;
}

.dropdown-menu {
	background-color: #000000 !important;
}