-if user_signed_in?
	%h2 
		="Bienvenue"
		%small
			=@current_user.firts_name+" "+@current_user.name 
	.row
		.col-md-6
			%h3 Les derniers témoignages
			-@internships.reverse.each do |i|
				.panel.panel-info
					.panel-heading
						%p
							= "Chez "+ i.comp+" fait par"	
					.panel-body
						%p 
							= i.field
						%p
							= i.supervisor
					.panel-footer
						=link_to 'Voir la fiche', {:controller => :internships, :action => :show, :id => i.id}
		.col-md-6
			%h3 Les entreprises
			-@compagny.reverse.each do |j|
				.panel.panel-success
					.panel-heading
						%p
							= j.name
					.panel-body
						%p
							=j.field
					.panel-footer
						=link_to 'En savoir plus', {:controller => :companies, :action => :show, :id => j.id}
-else
	%h2
		="Hello stranger"
		%small
			="veuillez vous connecter ou vous inscrire pour accéder au site !"
